spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://ds888.tk/task_test?characterEncoding=utf-8&useSSL=false
    username: tasklist
    password: 123456
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
app:
  secret: 07ab4387efa80cc76b9ab2123cf34bf53b52a6cb